<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <div class="row">

        <div class="col-md-4 content md-offset-4">
           
            <div id="app" class="mt-5" >
                <form class="mb-5" @submit.prevent="addItem">
                    <input class="form-control" v-model="newItem"/>
                </form>
                <ul class="list-group">
                    <li v-for="(item, index) in items" :key="index" class="list-group-item  d-flex" >
                        <button class="btn btn-danger mr-3" @click="removeItem(index)">Remove</button>
                        {{ item.name }}  <input class="form-control text-right ml-5" v-model="item.price"/>
                    </li>
                    <li class="list-group-item text-right">total: {{total}} </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<script>
    new Vue({
       el : '#app',
       data: {
           items: [
                {name: 'rice', price: 12.00},
                {name: 'alu', price: 12.00},
                {name: 'chira', price: 12.00},
                {name: 'dal', price: 12.00},
           ], 
           newItem:''
       }, 
     computed:{
        total(){
            var total = 0;
            this.items.forEach(item => {
                total += parseFloat(item.price);
            })
            return total
        }
     },
      methods:{
            addItem(){
                this.items.push({
                        name: this.newItem,
                        price: 0.00,
                    })
            },
            removeItem(index){
                this.items.splice(index,1)
            }
        }
    })
</script>
</body>
</html>